@import "tailwindcss";

*{

    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}



/* Custom CSS example */
.my-custom-bg {
  background: rgb(12, 45, 8);
}
.border-box {
    /* border: 1px solid rgb(140, 140, 140); */
        background-color: rgb(12, 45, 8);

}

.borders-box:hover {
       background-color: rgb(255, 255, 255);
    color:rgb(81, 177, 70);
    border: 0.15rem solid rgb(81, 177, 70);
    /* cursor: pointer; */
    transition: all 0.3s ease-in-out;


}

.greenbtn {
    background-color: rgb(81, 177, 70);
    /* border: none; */
    
}



/* for intro section */

.intro {
    background: radial-gradient( rgba(26, 73, 33, 1), rgb(12, 45, 8), rgb(12, 45, 8));   
}



/* for testtimonials styling */
@layer utilities {
 
/* 👇 Swiper pagination customization with Tailwind classes */
.swiper-pagination-bullet {
  @apply  w-1/2 h-5 mx-1 rounded-full bg-blue-500 hover:bg-green-500 transition-all duration-300 ease-in-out ;
}

.swiper-pagination-bullet-active {
  @apply scale-305 bg-white ;
}
}

/* for our mission tablet to mobile section */
.mobile-src{
  display: none;
}






/* for navbr drop down */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}




/* media screen section */

.ham-bugger{
  display: none;
}

@media screen and (max-width: 841px) {

  /* animated section */

  .animated{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 50;
   
    /* overflow: hidden; */
    /* height: 100vh; */
  }
  


  .streettext{
    font-size: 1rem;

  }




  /* Navbar section */
  .ham-bugger{
  display: block;
    display: flex;
    /* box-shadow: 0 0 100px rgba(98, 125, 30, 0.5); */
    /* transition: all 3s ease-in-out;*/

  }

  .desktop{
    display: none;
  }

  .logodes{
    font-size: 1rem;
  }






  /* intro section */

  .introsec{
    /* margin-bottom: 3rem; */
    padding-top: 6rem;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    

  .parara{
    width: 98%;
    margin-top: 0;
  }

  .para{
    width: 90%;
  }

  .introhead{
    font-size:1.8rem ;
  }
  .introtex{
    font-size: 0.8rem;
  }

  .btnholder{
    width: 95%;

  }




  /* slide section */

  .slide{
    display: none;
  }


  /* why choose section */

  .whychoose{
    height: auto;
  }

  .whychoosetext{
    padding-top: 15px;
    font-size: 1.6rem;
  }

}




/* Another screen section */


@media screen and (min-width:842px) {
  .desktop{
    /* display:; */
    width: 98%;
  }

  .logodes{
    font-size: 1.3rem;
  }
    .technologies{
    font-size: 1rem;
  }


}





/* tablet screen */

@media screen and (min-width: 640px) and (max-width: 870px) {

  .tablet{
    flex-direction: column;
    justify-content: space-around;
    background-color: rd;
    width: 90%;
    /* gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: auto; */
  }
  .tabletscrn{
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
  }


  
}


/* from Tablet to mobile section */

@media screen and (max-width: 850px) {

  .mobile-src{
    display: block;
    /* flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }




  .our-mission-img{
    display: none;
  }
}

@media screen and (max-width: 450px) {

  .mobile-src{
    display: block;
    
    
    /* 
    gap: 2rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .mobile-src-top{
    width: 100%;
    gap: 1rem;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .mobile-src-para{
    font-size: 0.7rem;
    width: 90%;
    text-align: center;
    margin: auto;
  }

  .our-mission-img{
    display: none;
  }
}

@media screen and (max-width: 550px) {
 

 
  
}